.welcome-header{
    margin: 90px 0px;
    text-align: center;
    display :flex;
    flex-direction: column; /* flex 하면 수평으로 나열되지만 flex-direction: column 을 활용하면 세로로 베열된다.;*/
    align-items: center; /* 배열을 중앙으로 모이게 해준다*/
    font-weight: 600;
}
.welcome-header__title{
    margin-bottom: 40px;
    font-size:  25px;
}

.welcome-header__text{
    width: 60%;     /* 창의 50%정도 간격을 사용하겠다 는 명령어 */
    opacity: 0.6;
}
