.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    position: relative;
    color: #2e363e;
}
.nav__notification{

    position: absolute; /* 겹쳐진다  그리고 부모 태그에 position: relative 가 선언 되있어야된다.*/
    left: 15px;        /*위치를 조절한다*/
    bottom: 15px;     /*위치를 조절한다*/
    
}
