.status-bar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    
}
.status-bar__class{
    width: 33%;
}
.status-bar__class:first-child span{
    margin-right: 5px;
}
.status-bar__class:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__class:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__class .fa-battery-three-quarters{
    margin: 0px 5px;
}